<!DOCTYPE html>
<html>
  <head>
    <title>Ajax vs. SocketIo</title>
  </head>
  <body>
    {{{body}}}
    <script src="javascripts/jquery-2.2.0.min.js"></script>
    <script src="javascripts/socket.io.min.js"></script>

    <script src="javascripts/script.js"></script>
  </body>
</html>
